body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

#myBooks {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

.h2 {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #4cae4c;
}

#addBookForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    align-items: center;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px); 
    box-sizing: border-box;
}

#searchResults, #content {
    width: 100%;
    margin-top: 20px;
}

#searchResults ul, #books {
    list-style: none;
    padding: 0;
    width: 100%;
}

#searchResults li, #books li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#searchResults img, #books img {
    width: 50px;
    height: 75px;
    object-fit: cover;
    margin-right: 10px;
}

#searchResults div, #books div {
    flex-grow: 1;
    text-align: left;
}

#searchResults button, #books button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#content h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;

}

.bookmarkButton {
    background-color: #007BFF!important;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
}

.bookmarkButton:hover {
    background-color: #0056b3;
}

.removeButton {
    background-color: #DC3545;
    color: red;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
}

.removeButton:hover {
    background-color: #c82333;
}

.book-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.book-item img {
    margin-right: 20px;
}

.book-item div {
    flex: 1;
}