@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.book-item {
  display: flex;
  align-items: center;
  margin-bottom: margin-bottom;
  padding: padding;
  border: 1px solid secondary-color;
  border-radius: border-radius;
  background-color: background-color;
  flex-direction: row;
  flex-wrap: wrap;
}
.book-item img {
  width: 100px;
  height: auto;
  margin-right: 1rem;
}
.book-item div {
  flex-grow: 1;
}
.book-item strong {
  display: block;
  font-size: 1.2rem;
}
.book-item p {
  margin: 0.5rem 0;
}

body {
  font-family: "Roboto", sans-serif;
}

#myBooks .title {
  text-align: center;
  margin: 1rem 0;
}
#myBooks #formContainer {
  margin: 2rem 0;
  text-align: center;
  align-items: center;
}
#myBooks #formContainer .h2 {
  margin-bottom: 1rem;
  text-align: center;
}
#myBooks #formContainer #addBookButton {
  margin-bottom: 1rem;
  background-color: #28a745;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#myBooks #formContainer #addBookButton:hover {
  background-color: #1e7e34;
}
#myBooks #formContainer #addBookForm {
  display: none;
}
#myBooks #formContainer #addBookForm.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myBooks #formContainer #addBookForm input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
}
#myBooks #formContainer #addBookForm button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
  width: 100%;
  max-width: 200px;
}
#myBooks #formContainer #addBookForm #searchBookButton {
  background-color: #28a745;
  color: white;
}
#myBooks #formContainer #addBookForm #cancelButton {
  background-color: #dc3545;
  color: white;
}
#myBooks #formContainer #searchResults .flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#myBooks #formContainer #searchResults ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#myBooks #formContainer #searchResults ul .book-item {
  flex: 1 1 calc(50% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
#myBooks #formContainer #searchResults ul .book-item .book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#myBooks #formContainer #searchResults ul .book-item .book-info .text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#myBooks #formContainer #searchResults ul .book-item .book-info img {
  width: 100px;
  margin-bottom: 1rem;
}
#myBooks #formContainer #searchResults .bookmarkButton {
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin-top: 1rem;
  max-width: 200px;
}
#myBooks #content h2 {
  text-align: center;
}
#myBooks #content #books {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#myBooks #content #books .book-item {
  flex: 1 1 calc(50% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
#myBooks #content #books .book-info {
  display: felx;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#myBooks #content #books .book-info .text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#myBooks #content #books .book-info img {
  width: 100px;
  margin-bottom: 1rem;
}
#myBooks #content #books .removeButton {
  background-color: #dc3545;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#myBooks #content #books .removeButton i {
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  #searchResults .flex-container, #searchResults ul {
    flex-direction: column;
  }
  #searchResults .flex-container .book-item, #searchResults ul .book-item {
    flex: 1 1 100%;
  }
  #content #books {
    flex-direction: column;
  }
  #content #books .book-item {
    flex: 1 1 100%;
  }
}

/*# sourceMappingURL=style.css.map */
