@import 'variables';
@import 'mixins.scss';
@import 'book-item';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// Page Style
body {
  font-family: $font-family;
}

#myBooks {
    .title {
        text-align: center;
        margin: 1rem 0;
    }

    #formContainer {
        margin: 2rem 0;
        text-align: center;
        align-items: center;

        .h2 {
            margin-bottom: 1rem;
            text-align: center;
        }

        #addBookButton {
            margin-bottom: 1rem;
            @include button-styles($search-button-color, white);
            
        }

        #addBookForm {
            display: none;

            &.active {
            display: flex;
            flex-direction: column;
            align-items: center;
            }

            input {
                margin-bottom: 1rem;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 100%;
                max-width: 400px;
            }

            button {
                padding: 0.5rem;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                margin-top: 0.5rem;
                width: 100%;
                max-width: 200px;
            }

            #searchBookButton {
                background-color: $search-button-color;
                color: white;
            }

            #cancelButton {
                background-color: $cancel-button-color;
                color: white;
            }
        }

        #searchResults {
            .flex-container {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
            }

            ul {
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                .book-item {
                  flex: 1 1 calc(50% - 1rem);
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-bottom: 1rem;
  
                  .book-info {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      text-align: center;
  
                      .text {
                          margin-top: 1rem;
                          margin-bottom: 1rem;
                      }
                  }
  
                  .book-info img {
                      width: 100px;
                      margin-bottom: 1rem;
                  }
                }
                
            }


            .bookmarkButton {
              background-color: $add-to-pochlist-button-color;
              color: white;
              border-radius: 4px;
              border: none;
              cursor: pointer;
              padding: 0.5rem;
              margin-top: 1rem;
              max-width: 200px;
            }
        }
    }

    #content {
        h2 {
            text-align: center;
          
        }

        #books {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .book-item {
                flex: 1 1 calc(50% - 1rem);
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1rem;
            }

            .book-info {
              display: felx;
              flex-direction: column;
              align-items: center;
              text-align: center;

              .text {
                margin-top: 1rem;
                margin-bottom: 1rem;
              }
            }

            .book-info img {
              width: 100px;
              margin-bottom: 1rem;
            }

            .removeButton {
              background-color: $trash-button-color;
              color: white;
              padding: 0.5rem;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;

              i {
                  margin-right: 0.5rem;
              }
            }
        }
    }
}

// Media Queries
@media (max-width: 768px) {
  #searchResults {
      .flex-container, ul {
          flex-direction: column;

          .book-item {
              flex: 1 1 100%;
          }
      }
  }

  #content {
      #books {
          flex-direction: column;

          .book-item {
              flex: 1 1 100%;
          }
      }
  }
}