// Color variables
$font-family: 'Roboto', sans-serif;
$primary-color: #007bff;
$secondary-color: #ccc;
$text-color: #333;
$background-color: #f9f9f9;
$search-button-color: #28a745;
$cancel-button-color: #dc3545; 
$add-to-pochlist-button-color: $search-button-color;
$trash-button-color: #dc3545;

// Dimension variables
$border-radius: 8px;
$padding: 1rem;
$margin-bottom: 1rem;
